*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Encode Sans;
}

body{
    width: 1250px;
    margin: 0 auto;
    display: flex;
}

body .navbar{
    width: 1250px;
    position: fixed;
    background-color: white;
}

body .navbar .logo img{
    display: block;
    margin: auto;
    width: 249px;
    padding-top: 15px;
}

.navbar .links{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #f5f6f7;
    padding: 5px 0;
    margin-top: 20px;
    width: 100%;
}
.navbar .links ul{
    display: flex;
    list-style: none;
    width: 100%;
    margin: 5px auto;
    padding-right: 5%;
}


.navbar .links ul .links1{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links2{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links3{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links4{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links5{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links6{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links7{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links8{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links9{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links0{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links10{
    margin-left: auto;
    font-weight: 800;
    font-size: 18px;
}

.navbar .links ul .links1 li a{
    text-decoration: none;
    color: rgb(190, 0, 0);
}

.navbar .links ul .links2 li a{
    text-decoration: none;
    color: rgb(0, 0, 205);
}

.navbar .links ul .links3 li a{
    text-decoration: none;
    color: rgb(0, 97, 0);
}

.navbar .links ul .links4 li a{
    text-decoration: none;
color: rgb(59, 219, 59);
}

.navbar .links ul .links5 li a{
    text-decoration: none;
    color: rgb(242, 137, 0);
}

.navbar .links ul .links6 li a{
    text-decoration: none;
    color: rgb(216, 0, 0);
}

.navbar .links ul .links7 li a{
    text-decoration: none;
    color: rgb(255, 118, 141);
}

.navbar .links ul .links8 li a{
    text-decoration: none;
    color: rgb(255, 160, 36);
}

.navbar .links ul .links9 li a{
    text-decoration: none;
    color: black;
}

.navbar .links ul .links0 li a{
    text-decoration: none;
    color: purple;
}

.navbar .links ul .links10 li a{
    text-decoration: none;
    color: rgb(255, 0, 212);
}

/* HEADER PRINCIPAL*/

.header{
text-align: left;
width: 50%;
margin-left: 62px;
margin-top: 150px;
border-right: 1px #f5f6f7 solid;
height: auto;
}

.header h1{
    font-size: 52px;
    font-weight: bolder;
    color: #c4160c;
}

.header p{
    font-size: 18px;
    color: #303134;
    padding-top: 15px;
}

.header .subs{
    width: 600px;
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px #f5f6f7 solid;
    padding-bottom: 15px;
    border-bottom: 1px #f5f6f7 solid;
}

.header .subs .new1{
    width: 193px;
    margin-right: 15px;
}

.header .subs .new1 a{
    text-decoration: none;
}
.header .subs .new1 a img{
    border-radius: 12px;
    height: 110px;
    width: 193px;
    margin-bottom: 10px;
}

.header .subs .new1 span{
    font-size: 15px;
    color: #C4160C;
    font-weight: 500;
    text-decoration: none;
}

.header .subs .new1 h3{
    font-size: 18;
    color: black;
    font-weight: bolder;
    padding-top: 10px;
    text-decoration: none;
}

.header .subs .new1 p{
    padding-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

/* CONFIG DE NEWSHORTS*/

.header .short{
    width: 624px;
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
}

.header .short .newshort a{
    text-decoration: none;
}

.header .short .newshort{
    width: 193px;
    margin-right: 15px;
}

.header .short .newshort span{
    font-size: 15px;
    color: #C4160C;
    font-weight: 500;
    text-decoration: none;
}

.header .short .newshort h3{
    font-size: 18;
    color: black;
    font-weight: bolder;
    padding-top: 10px;
    text-decoration: none;
}

.header .short .newshort p{
    padding-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

/*CONFIG DE SPORT*/

.sport{
    width: 240px;
    margin-top: 150px;
    margin-left: 15px;
}
.sport .newsport a{
    text-decoration: none;
}
.sport .newsport img{
    height: 128px;
    width: 240px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.sport .newsport span{
    font-size: 15px;
    color: #176e17;
    font-weight: 500;
    text-decoration: none;
}

.sport .newsport h3{
    font-size: 18;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.sport .newsport p{
    padding-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

/*CONFIGURAÇÃO DA SECÇÃO GOSSIP*/

.gossip {
    width: 240px;
    margin-top: 140px;
    margin-left: 15px;
    border-left: 1px #f5f6f7 solid;
    padding-left: 15px;
}

.gossip .newgossip a{
    text-decoration: none;
}
.gossip .newgossip img{
    height: 128px;
    width: 240px;
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.gossip .newgossip span{
    font-size: 15px;
    color: #ffa600;
    font-weight: 500;
    text-decoration: none;
}

.gossip .newgossip h3{
    font-size: 18;
    color: black;
    font-weight: bolder;
    padding-top: 0;
    text-decoration: none;
}

.gossip .newgossip p{
    padding-top: 10px;
    font-size: 14px;
    text-decoration: none;
}